/***********
MAIN ELEMENTS
************/
.Root {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.App-header {
  display: flex;
  background-color: #222;
  width: 100%;
  height: 120px;
  justify-content: space-around;
  align-items: center;
  background: black;
}
#logo {
  position: relative;
  color: white;
  font-size: 38px;
}
.App-intro {
  font-size: large;
}

/***********
FORM
************/
.Gif-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.FieldsWrapper {

}
.Wrapper {
  padding: 5px;
}
.Label{
  font-size: 18px;
}
input {
  padding: 15px;
}
button{
  width: 150px;
  height: 40px;
  align-self: center;
}
/***********
GIF LIST
************/
.ListWrapper {
  display: flex;
  flex-wrap: wrap;    
  width: 90%;
  align-self: center;
  justify-content: space-around;
  padding: 1px;
  /* border: 4px solid black; */
}
.gif{
  /* border: 1px solid black; */
  align-content: center;
  width: 500px;
  height: 500px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 10px 0;
}
img {
  position: relative;
}